html,
body {
  font-size: 14px;
  color: #333;
  background: #fff;
  letter-spacing: 1px;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::selection {
  background: #f7c46c;
  color: #363642;
  text-shadow: none;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  z-index: 6;
  width: 100%;
}

.slides-navigation .next,
.slides-navigation .prev {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
}

.titleMsg {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
}

.titleMsg .heading p {
  color: #fff;
  font-weight: 300;
  letter-spacing: 6px;
}

.titleMsg .heading .main-t {
  font-size: 35px;
}

.titleMsg .heading .sub-t {
  font-size: 20px;
}

.about-img {
  max-width: 100%;
}

.section {
  padding: 100px 0;
}

.bg-gr {
  background: #f7f8f9;
  color: #000;
}

.skill-section {
  /*background: linear-gradient(to top left, #28b487, #7dd56f);*/
  /*color: #fff;*/
}

.skill-section h1 {
  color: #fff;
}

.skill {
  text-align: center;
  margin-left: 25px;
}

.chart {
  position: relative;
  width: 152px;
  height: 152px;
  text-align: center;
  display: inline-block;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.chart .percent {
  color: #2163e8;
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}

.chart .percent:after {
  content: "%";
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}

#navigation {
  width: 100%;
  z-index: 100;
}

.nav-flex {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.btn-primary-soft {
  color: #2163e8;
  background-color: rgba(33, 99, 232, 0.1);
}

.btn-primary-soft:active,
.btn-primary-soft:hover {
  color: #fff;
  background-color: #2163e8;
  border-color: #2163e8;
}

.btn-primary-soft:focus {
  color: #2163e8;
  background-color: rgba(33, 99, 232, 0.1);
  border-color: transparent;
}

.btn-secondary-soft {
  color: #595d69;
  background-color: rgba(89, 93, 105, 0.1);
}

.btn-secondary-soft:active,
.btn-secondary-soft:hover {
  color: #fff;
  background-color: #595d69;
  border-color: #595d69;
}

.btn-secondary-soft:focus {
  color: #595d69;
  background-color: rgba(89, 93, 105, 0.1);
  border-color: transparent;
}

.btn-success-soft {
  color: #0cbc87;
  background-color: rgba(12, 188, 135, 0.1);
}

.btn-success-soft:active,
.btn-success-soft:hover {
  color: #fff;
  background-color: #0cbc87;
  border-color: #0cbc87;
}

.btn-success-soft:focus {
  color: #0cbc87;
  background-color: rgba(12, 188, 135, 0.1);
  border-color: transparent;
}

.btn-info-soft {
  color: #4f9ef8;
  background-color: rgba(79, 158, 248, 0.1);
}

.btn-info-soft:active,
.btn-info-soft:hover {
  color: #fff;
  background-color: #4f9ef8;
  border-color: #4f9ef8;
}

.btn-info-soft:focus {
  color: #4f9ef8;
  background-color: rgba(79, 158, 248, 0.1);
  border-color: transparent;
}

.btn-warning-soft {
  color: #f7c32e;
  background-color: rgba(247, 195, 46, 0.1);
}

.btn-warning-soft:active,
.btn-warning-soft:hover {
  color: #000;
  background-color: #f7c32e;
  border-color: #f7c32e;
}

.btn-warning-soft:focus {
  color: #f7c32e;
  background-color: rgba(247, 195, 46, 0.1);
  border-color: transparent;
}

.btn-danger-soft {
  color: #d6293e;
  background-color: rgba(214, 41, 62, 0.1);
}

.btn-danger-soft:active,
.btn-danger-soft:hover {
  color: #fff;
  background-color: #d6293e;
  border-color: #d6293e;
}

.btn-danger-soft:focus {
  color: #d6293e;
  background-color: rgba(214, 41, 62, 0.1);
  border-color: transparent;
}

.btn-light-soft {
  color: #f7f8f9;
  background-color: rgba(247, 248, 249, 0.1);
}

.btn-light-soft:active,
.btn-light-soft:hover {
  color: #000;
  background-color: #f7f8f9;
  border-color: #f7f8f9;
}

.btn-light-soft:focus {
  color: #f7f8f9;
  background-color: rgba(247, 248, 249, 0.1);
  border-color: transparent;
}

.btn-dark-soft {
  color: #191a1f;
  background-color: rgba(25, 26, 31, 0.1);
}

.btn-dark-soft:active,
.btn-dark-soft:hover {
  color: #fff;
  background-color: #191a1f;
  border-color: #191a1f;
}

.btn-dark-soft:focus {
  color: #191a1f;
  background-color: rgba(25, 26, 31, 0.1);
  border-color: transparent;
}

.product {
  padding-top: 50px;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.f-column1 {
  background-image: url(../../img/shop_for_college_large.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.product-small {
  height: 550px;
  padding-top: 40px;
  margin: 0 0 10px 0;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.footer .app-clone a {
  text-decoration: none;
  color: #000;
  font-size: 10px;
}
.footer .app-clone a:hover {
  text-decoration: underline;
}
.footer .app-clone h4 {
  font-size: 14px;
}
.owl-prev {
  width: 25px;
  height: 50px;
  position: absolute;
  top: 40%;
  margin-left: -20px;
  display: block !important;
  border: 0px solid black;
}
.img-circle {
  width: 45px;
  height: 45px;
  border-radius: 24px;
  object-fit: cover;
}
.owl-next {
  width: 25px;
  height: 50px;
  position: absolute;
  top: 40%;
  right: -25px;
  display: block !important;
  border: 0px solid black;
}
.owl-nav button.owl-next,
.owl-nav button.owl-prev {
  color: #fff !important;
  font-size: 25px !important;
  padding: 10px;
  background-color: #dedede !important;
  border-radius: 10px;
}
.skills {
  display: flex;
  flex-wrap: wrap;
}
.skill {
  background-color: rgba(153, 153, 153, 0.2);
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  border-radius: 5px;
  color: #666;
  font-size: 0.9rem;
  font-weight: 600;
}
.list-group li {
  border-left: 0;
  border-right: 0;
}
.list-group li:first-child {
  border-top: 0;
}
.list-group li:last-child {
  border-bottom: 0;
}
.footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2487ce;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  text-decoration: none;
}
.wrk-desc {
  font-size: 1.5rem;
}
footer.app-clone {
  font-size: 11px;
}
footer.app-clone a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
footer.app-clone a:hover {
  color: rgba(0, 0, 0, 0.8);
}
